.header {
    height: 70px;
    width: 100%;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;

}
.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


